<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--thymeleaf css-->
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>

<body >

<nav class="navbar navbar-expand-lg navbar-light bg-light " role="navigation">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><strong>Home</strong></a>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">

            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item"><a th:href="@{/login}"  class="nav-link">Login</a></li>
                <li class="nav-item"><a th:href="@{/register}" class="nav-link">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>>
<p th:text="#{form}" class="text-center display-4 "></p>


<form class="mainForm" th:method="post" th:action="@{/register}" th:object="${key_register}">

    <div class="container">



                <div class="form-group">
                    <label th:text="#{firstName}" ></label>
                    <input th:field="*{firstName}" type="text" class="form-control" autofocus>
                    <div  th:if="${#fields.hasErrors('firstName')}" class="form-control is-invalid" th:errors="*{firstName}"></div>
                </div>


                <div class=" form-group">
                    <label th:text="#{lastName}" ></label>
                    <input th:field="*{lastName}" type="text" class="form-control" autofocus>
                    <div th:if="${#fields.hasErrors('lastName')}"  class="form-control is-invalid" th:errors="*{lastName}"></div>
                </div>


                <div class=" form-group">
                    <label th:text="#{emailAddress}" ></label>
                    <input th:field="*{emailAddress}" type="text" class="form-control" autofocus >
                    <div th:if="${#fields.hasErrors('emailAddress')}" class="form-control is-invalid" th:errors="*{emailAddress}"></div>
                </div>


                <div class=" form-group">
                    <label th:text="#{password}" ></label>
                    <input th:field="*{password}" type="password" class="form-control" autofocus>
                    <div th:if="${#fields.hasErrors('password')}" class="form-control is-invalid"  th:errors="*{password}"></div>
                </div>




                <div class=" form-group text-center mt-3">
                    <input  type="reset" class="btn btn-danger" value="Reset">
                    <input  type="submit" class="btn btn-success" value="Save">
                </div>
    </div>






</form>



<!--end codes-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>